.container{
   
    width: 800px;
    height: 900px;
    margin: auto;
    margin-top: 75px;
    justify-content: center;
    align-items: center;
    position:sticky ;
    border-radius: 13px;
    background: #6d58589c;
    box-shadow:  5px 5px 68px #828282,
     -5px -5px 68px #ffffff;
    
}

  
  .container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-size: cover;
    filter: blur(2px);
    z-index: -1;
    background-position: center;
    opacity: 50%;
    background-repeat: no-repeat;
    border-radius: 20px;
  }

.topbar{
    display: flex;
    justify-content: center;
    gap: 14px;
    padding-top: 60px;
    will-change: transform;

}

.topbar input {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 0.125em solid #ffffff;
    border-radius: 8px;
    color: #fffefe;
    padding: 14px 24px;
    text-decoration: none;
    font-size: 25px;
    margin: 0;
    cursor: pointer;
    height: 78px;
    width: 300px;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    font-family:monospace;
    font-style: italic;
    font-weight: bolder;
  }
  
  .topbar input:hover {
    border: 1px solid #fff;
    background-color: #292929;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
    border-radius: 40px;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  }

  .search button{
    border-color: transparent;
    background-color: transparent;
    font-family:monospace;
    font-style: italic;
    font-weight: bolder;
    color: #fff;

  }
.search{
    display: flex;
    justify-content: center;
    align-items: center;
    width:78px ;
    height: 78px;
    background: #ebfffc;
    border-radius: 10px;
    
    appearance: none;
    background-color: transparent;
    border: 0.175em solid #ffffff;
    border-radius: 0.9375em;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: flex;
    line-height: normal;
    margin: 0;
    min-height: 3.75em;
    min-width: 0;
    outline: none;
    padding: 1em 2.3em;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
}
   
.search:disabled {
    pointer-events: none;
   }
   
   .search:hover {
    color: #fff;
    background-color: #292929;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
    border-radius: 40px;
    border: 1px solid #fff;
   }
   
   .search:active {
    box-shadow: none;
    transform: translateY(0);
   }

#icon{
    height:35px ;
    width: 30px;
    

}



.weathertemp{
    display: flex;
    justify-content:space-around;
    color: rgb(0, 0, 0);
    font-size: 140px;
    font-weight: 400;
    
}

.location{
    display: flex;
    justify-content: center;
    color: rgb(0, 0, 0);
    font-size: 60px ;
    font-weight: 400;
    font-family: monospace;
    font-style: italic;
}

.datacontainer{
    margin-top: 50px;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    
}

.element{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
}

.data{
    font-size: 35px;
    font-weight: bolder;
    font-family: monospace;
    font-style: italic;
    
}
.text{
    font-size: 20px;
    font-weight: 400;
    font-family: monospace;
    font-style: italic;

}

#icons{
    margin-top: 10px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    
    }
    
    #weathericon{
        
        height: 150px;
        height: 150px;


    }
    
    

