
.navigation-bar{
    height: auto;
    padding: 50px;
    margin: 2%;
    background-image: url(../src/assets/Beach_bg.jpg);
    background-size: cover;
    opacity: 90%;
  }

  nav{
    background-color: #0000008a;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 0 auto;

  }

